
<script>
  // Import Swiper Vue.js components
  import { Swiper, SwiperSlide } from "swiper/vue";
  
  // Import Swiper styles
  import "swiper/css";
  import "swiper/css/pagination";
  import "swiper/css/navigation";
  
  // import required modules
  import { Autoplay, Pagination, Navigation } from "swiper/modules";
  
  export default {
    name: "LatestServiceHomeSection",
    components: {
      Swiper,
      SwiperSlide,
    },
    data() {
      return {
        widgets: [], // Ensure widgets is defined in the data object
        services: [],
      };
    },
    async mounted() {
      // Call fetchData when the component is mounted
      await this.fetchData();
    },
    methods: {
      async fetchData() {
        try {
          const storedWidgets = localStorage.getItem("widgets");
  
          if (storedWidgets) {
            console.log("using data from localstorage for home service...");
            this.widgets = JSON.parse(storedWidgets);
            this.services = this.widgets.home_page_block[7];
          }else{
            console.log("No widgets data in localstorage");
          }
        } catch (error) {
          console.error("Error fetching data:", error);
        }
      },
    },
    setup() {
      return {
        modules: [Autoplay, Pagination, Navigation],
      };
    },
  };
  </script>
  