
              <li><a href="http://localhost:9000/">Home</a></li>

              <li class="dropdown">
                <a href="#about"
                  ><span>About-us </span>
                  <i class="bi bi-chevron-down toggle-dropdown"></i
                ></a>
                <ul>
                  <li>
                    <a href="http://cityhospital.techecosys.net//about-us"
                      >About City Hospital</a
                    >
                  </li>
                  <li>
                    <a href="http://cityhospital.techecosys.net/2"
                      >Message of Chairman</a
                    >
                  </li>
                  <li>
                    <a href="http://cityhospital.techecosys.net/3"
                      >Message of Managing Director</a
                    >
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#about"
                  ><span>Services </span>
                  <i class="bi bi-chevron-down toggle-dropdown"></i
                ></a>
                <ul>
                  <li>
                    <a href="http://cityhospital.techecosys.net//"
                      >Diagnostic Complex</a
                    >
                  </li>
                  <li>
                    <a href="http://cityhospital.techecosys.net//"
                      >Our Services &amp; Facilities</a
                    >
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#about"
                  ><span>Departments </span>
                  <i class="bi bi-chevron-down toggle-dropdown"></i
                ></a>
                <ul>
                  <li>
                    <a
                      href="http://cityhospital.techecosys.net/city-diabetic-centre"
                      >City Diabetic Centre</a
                    >
                  </li>
                  <li>
                    <a
                      href="http://cityhospital.techecosys.net/emergency-primary-care-unit"
                      >Emergency &amp; Primary Care Unit</a
                    >
                  </li>
                  <li>
                    <a
                      href="http://cityhospital.techecosys.net/corona-isolation-unit"
                      >Corona Isolation Unit</a
                    >
                  </li>
                </ul>
              </li>

              <li><a href="http://localhost:9000/">Find Physician</a></li>

              <li><a href="http://localhost:9000/">Sponsors</a></li>

              <li class="dropdown">
                <a href="#about"
                  ><span>Employees </span>
                  <i class="bi bi-chevron-down toggle-dropdown"></i
                ></a>
                <ul>
                  <li>
                    <a href="http://cityhospital.techecosys.net/adviser"
                      >Adviser</a
                    >
                  </li>
                  <li>
                    <a href="http://cityhospital.techecosys.net/employees"
                      >Administration</a
                    >
                  </li>
                  <li>
                    <a href="http://cityhospital.techecosys.net/accounts"
                      >Accounts</a
                    >
                  </li>
                  <li>
                    <a href="http://cityhospital.techecosys.net/it-section"
                      >I.T Section</a
                    >
                  </li>
                  <li>
                    <a href="http://cityhospital.techecosys.net/marketing"
                      >Marketing</a
                    >
                  </li>
                  <li>
                    <a
                      href="http://cityhospital.techecosys.net/customer-care-department"
                      >Customer Care Department</a
                    >
                  </li>
                </ul>
              </li>

              <li><a href="http://localhost:9000/contact-us">Contact us</a></li>